<div class="container">
    <table>
        <!--  coding dojo-->
        <!-- <tr>
            <td>
            </td>
            <td>
                <img class="img-circle" src="../photos/codingdojo2Icon.png" alt="Generic placeholder image">
            </td>
            <td>
                <h1 class="pen-title">Education</h1>
                <div class="pen-wrapper__inner">
                    <nav class="nav" style="bottom:0px">
                        <input type="checkbox" id="menu-button-codingdojo" class="menu-button__input" />
                        <label for="menu-button-codingdojo" class="menu-button">
                            <span class="menu-button__icon">
              <span class="menu-button__icon-strip"></span>
                            </span>
                        </label>
                        <div class="nav__inner" style="border-radius:10px; ">

                            <h5>Apr 2014 - Jul 2016</h5>
                            <h5>Coding Dojo</h5>
                            <h5>Computer Software</h5>
                            <ul class="nav-list">
                                <h5 class="nav-list__item">
                                    An intensive, rigorous and comprehensive full-stack software development training programs to meet the career goals of both
                                    aspiring developers and industry veterans. Students are expected to spend, on average,
                                    a minimum of 80 hours per week during the program. Upon completion of the program, I
                                    mastered the web fundamental and software development from client side to database in
                                    Python, MEAN stack, and iOS.
                                </h5>
                                <br>
                                <a href="#/projects">Check My Projects</a>
                            </ul>
                        </div>
                    </nav>
                </div>
            </td>
        </tr> -->
        <!-- UC Berkeley -->
        <tr>
            <td>
                <div class="pen-wrapper__inner">
                    <nav class="nav" style="bottom:0px">
                        <input type="checkbox" id="menu-button-UCB" class="menu-button__input" />
                        <label for="menu-button-UCB" class="menu-button">
                    <span class="menu-button__icon">
          <span class="menu-button__icon-strip"></span>
                    </span>
                </label>
                        <div class="nav__inner" style="border-radius:10px; ">
                            <h5>Aug 2012 - May 2016</h5>
                            <h5>University of California, Berkeley</h5>
                            <h5 style="margin-top:12px">Bachelor, Applied Mathematics</h5>
                            <ul class="nav-list">
                                <br>
                                <strong class="nav-list__item">Stock Pitch Group Project</strong>
                                <li class="nav-list__item">Evaluated potentially investable companies' fundamentals and performance by scrutinizing
                                    financial statements and analyzing business plans.</li>
                                <li class="nav-list__item">Projected the future earnings and operating expenses over the next 3 years by building a
                                    financial model.</li>
                                <br>
                                <strong class="nav-list__item">Individual Stock Portfolio Competition</strong> - <em>The First Prize in a class of 90 students</em>

                                <li class="nav-list__item">Managed unsystematic risk by combing negatively correlated stocks in the portfolio.&nbsp;</li>
                                <li class="nav-list__item">Protected against systematic risk by constructing market neutral portfolio.&nbsp;</li>
                                <br>

                                <strong class="nav-list__item">Financial Statement Analysis</strong>

                                <li class="nav-list__item">Analyzed balance sheets, income statements, and cash flow statements to determine business
                                    performance and understand the inflow and outflow of funds.</li>
                                <li class="nav-list__item">Analyzed companies' financial health and profit efficiency by calculating the financial ratios.</li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </td>
            <td>
                <img class="img-circle" src="../photos/berkeleyIcon.png" alt="Generic placeholder image">
            </td>
            <td>
            </td>
        </tr>
        <!--  Econ One-->
        <tr>
            <td>

            </td>
            <td>
                <img class="img-circle" src="../photos/e1Icon.jpeg" alt="Generic placeholder image">
            </td>
            <td>
                <div class="pen-wrapper__inner ">
                    <nav class="nav" style="bottom:0px">
                        <input type="checkbox" id="menu-button-e1" class="menu-button__input" />
                        <label for="menu-button-e1" class="menu-button">
                    <span class="menu-button__icon">
          <span class="menu-button__icon-strip"></span>
                    </span>
                </label>
                        <div class="nav__inner" style="border-radius:10px; ">
                            <!-- styel this div "nav-inner" to adjust and change the size and shape-->
                            <!-- <figure class="nav__avatar" style="padding: 0"> -->
                            <!-- main picture-->
                            <!-- <img src="../photos/berkeleyIcon.png" alt="" >  -->
                            <h5>May 2015 - Dec 2015</h5>
                            <h5>Econ One Research</h5>
                            <h5>Intern</h5>
                            <!-- </figure> -->
                            <ul class="nav-list">
                                <!-- <img src="../photos/berkeleyIcon.png" alt="" style="margin-bottom:5px;">  -->
                                <li class="nav-list__item">Coded nested loops in Excel VBA to analyze 300,000+ inputs in RMBS models and record modeled
                                    results.</li>
                                <!-- <li>Created an Excel VBA program to examine RMBS model results with thousands of observations.</li> -->
                                <li class="nav-list__item">Created an Excel VBA program to examine 300,000+ RMBS modeled results.</li>
                                <li class="nav-list__item">Assisted in the production of expert reports, primarily through the generation of exhibits
                                    and appendices to synthesize complex sets of information.&nbsp;</li>
                                <li class="nav-list__item">Aggregated numerous disparate data sources into standardized data set.&nbsp;</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </td>
        </tr>
        <!--  Berkeley Academy-->
        <tr>
            <td>
                <div class="pen-wrapper__inner">
                    <nav class="nav" style="bottom:0px">
                        <input type="checkbox" id="menu-button2" class="menu-button__input" />
                        <label for="menu-button2" class="menu-button">
                    <span class="menu-button__icon">
          <span class="menu-button__icon-strip"></span>
                    </span>
                </label>
                        <div class="nav__inner" style="border-radius:10px; ">
                            <h5>Apr 2012 - Nov 2014</h5>
                            <h5>Berkeley Academy</h5>
                            <h5>Math Instructor</h5>
                            <!-- </figure> -->
                            <ul class="nav-list">
                                <li class="nav-list__item">Assisted 30% of students to raise their grades 1 to 2 letter grades by working with students
                                    in Algebra II, Trigonometry, Pre-Calculus, and Calculus individually or in groups.</li>
                                <li class="nav-list__item">Build relationship with clients by offering services that address their individual needs.</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </td>
            <td>
                <img class="img-circle" src="../photos/berkeleyAcademyIcon.png" alt="Generic placeholder image">
            </td>
            <td>

            </td>
        </tr>
    </table>
</div>
