<style media="screen">
body {
background: url(../photos/backgroundImg4.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.caption h4, .caption h5, .caption p{
color: white;
padding: 10px;
}
.caption p{
height: 40%
}

.thumbnail, #footer{
background: rgba(0, 0, 0, 0.5);
}

.footer-bottom {
  background-color: rgba(255, 245, 195, 0.6);
  min-height: 30px;
  width: 100%;
}
.footer-bottom a{
color: #0024ff
}
.form-horizontal .control-label{
    text-align: left;
}
.currencySelection{
  display: block;
  position: fixed;
  margin-top: -60px;
  z-index: 1030;
  right:0;
}
</style>
<script type="text/javascript">

</script>

  <div ng-controller="roomController" class="modal-open">
  <!-- <div class="row"> -->
    <div class="col-xs-2 col-sm-2 col-md-2 currencySelection">
      <select ng-model="fromType" class="form-control" required
              data-ng-change="forExConvert(fromType)"
              style="display: inline-block"
              ng-options="key for (key, value) in rates track by value">
        <option value="">USD -- Select Currency --</option>
      </select>
    </div>
  <!-- </div> -->


    <!--  we can put the following code into directvie-->
    <div class="wrap" ng-repeat="room in roomData " ng-hide="$last">
        <div class="col-xs-4 col-sm-4 col-md-4 ">
            <div class="thumbnail">
                <img src="{{ room.image_url}}" alt="" />
                <div class="caption">
                    <h4>{{ room.short_desc }}</h4>
                    <p class="long_desc">{{ room.long_desc }}</p>

                      <div class="">
                        <h5 ng-hide="fromType">Price: {{ room.room_price }} /Night (USD) </h5>
                        <h5 ng-show="fromType">Price: {{ room.room_price * fromType | number: 2}} /Night ({{ currency }}) </h5>
                      </div>

                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#bookRoomModal" ng-click="bookRoom(room)">Book Room</button>
                </div>
            </div>
        </div>
    </div>
    <!--  ############################### -->


    <!--  Guest Information Modal -->
    <div ng-controller="roomController" class="modal fade" id="bookRoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Booking Information</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="bookForm">
                        <!--  First Name -->
                        <div class="form-group">
                            <label for="title" class="col-sm-3 control-label">First Name:</label>
                            <div class="col-sm-9">
                                <input type="text" name="first_name" class="form-control" placeholder="First Name" ng-model="guest.first_name" ng-minlength='2' required>
                                <span ng-show='bookForm.first_name.$touched && bookForm.first_name.$error.required' style="color:red">Name field cannot be empty!</span>
                                <span ng-show='bookForm.first_name.$touched && bookForm.first_name.$error.minlength' style="color:red">First name must have at least 2 chars!</span>
                            </div>
                        </div>
                        <!--  Last Name -->
                        <div class="form-group">
                            <label for="title" class="col-sm-3 control-label">Last Name:</label>
                            <div class="col-sm-9">
                                <input type="text" name="last_name" class="form-control" placeholder="Last Name" ng-model="guest.last_name" ng-minlength='2' required>
                                <span ng-show='bookForm.last_name.$touched && bookForm.last_name.$error.required' style="color:red">Name field cannot be empty!</span>
                                <span ng-show='bookForm.last_name.$touched && bookForm.last_name.$error.minlength' style="color:red">Last name must have at least 2 chars!</span>
                            </div>
                        </div>
                        <!--  Email -->
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Email:</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="email" placeholder="Email" type="text" ng-model="guest.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
                                <span ng-show='bookForm.email.$touched && bookForm.email.$error.required' style="color:red">Email field cannot be empty!</span>
                                <span ng-show='bookForm.email.$touched && bookForm.email.$error.pattern' style="color:red">Not a valid email! Please provide a valid email.</span>
                            </div>
                        </div><!--  End of Email section-->

                        <div class="form-group">
                          <label class="col-sm-3 control-label">Check-In Date: </label>
                          <div class="col-sm-9">
                            <input class="form-control" type="date" name="date" ng-model="guest.checkInDate" min="{{ today | date:'yyyy-MM-dd'}}" >
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 control-label">Check-Out Date: </label>
                          <div class="col-sm-9">
                            <input class="form-control" type="date" name="date" ng-model="guest.checkOutDate" min="{{ guest.checkOutMinDate | date:'yyyy-MM-dd'}}" ng-click="checkOut(guest)">
                          </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-warning pull-right" ng-click='confirmRoom(guest)' data-dismiss="modal" data-toggle="modal" data-target="#confirmationModal">Book</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--  End of Guest Information Modal -->

    <!--  Booking Confirmation Modal -->
    <div ng-controller="roomController" class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Booked Room Information</h4>
                </div>
                <div class="modal-body">
                    <img class="col-sm-3 col-md-3" src="{{bookingInfo.roomInfo.image_url}}" alt="" />
                    <div class="col-sm-4 col-md-4">
                        <p>Guest Name: </p>
                        <p>Room Type: </p>
                        <p>Check In: </p>
                        <p>Check Out: </p>
                        <p ng-if="bookingInfo.ChampagneStrawberries.room_price">Champagne&Strawberries:</p>
                        <p >Total Price: </p>
                    </div>
                    <div class="col-sm-5 col-md-5">
                        <!-- Display booking information guest name, room type, price-->
                        <p>{{ bookingInfo.guestInfo.first_name | uppercase }} {{ bookingInfo.guestInfo.last_name | uppercase }}</p>
                        <p>{{ bookingInfo.roomInfo.short_desc }}</p>
                        <p>{{ bookingInfo.guestInfo.checkInDate | date }}</p>
                        <p>{{ bookingInfo.guestInfo.checkOutDate| date }}</p>
                        <p ng-hide="fromType">{{ bookingInfo.ChampagneStrawberries.room_price }}
                        <p ng-show="fromType">{{ bookingInfo.ChampagneStrawberries.room_price * fromType | number: 2}}
                            <span ng-if="bookingInfo.ChampagneStrawberries.room_price"> ({{currency}})
                            <a  href="" style="color:red" class="close" ng-click="remove()">x</a>
                            <button type="button" class="close" aria-label="Close" style="color:red" ng-click="remove()"></button>
                            </span>
                        </p>
                        <p ng-hide="fromType">{{ bookingInfo.roomInfo.room_price * ( (bookingInfo.guestInfo.checkOutDate - bookingInfo.guestInfo.checkInDate)/86400000 ) + bookingInfo.ChampagneStrawberries.room_price }} (USD) </p>
                        <p ng-show="fromType">{{ fromType * (bookingInfo.roomInfo.room_price * ( (bookingInfo.guestInfo.checkOutDate - bookingInfo.guestInfo.checkInDate)/86400000 ) + bookingInfo.ChampagneStrawberries.room_price ) | number: 2}} ({{ currency }})  </p>

                    </div>

<!--  upgrade options-->
                    <table class="table table-hover" ng-repeat="upgradeOption in roomData">
                        <tr ng-show="(upgradeOption.item_id > bookingInfo.roomInfo.item_id) && (upgradeOption.item_id < 103)">
                            <td><img src="{{ upgradeOption.image_url}}" alt="" /></td>
                            <td colspan="2">Upgrade to {{ upgradeOption.room_code}} room for only {{ upgradeOption.price}}</td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm pull-right" ng-click='upgrade(upgradeOption)'>Upgrade</button>
                            </td>
                        </tr>
                        <tr ng-show="(upgradeOption.item_id < bookingInfo.roomInfo.item_id) && (upgradeOption.item_id < 103)">
                          <td><img src="{{ upgradeOption.image_url}}" alt="" /></td>
                            <td colspan="3" style="color:red"><a href="" ng-click='upgrade(upgradeOption)'>I would like to check {{ upgradeOption.room_code}} room</a>
                        </tr>
                        <tr ng-show="(upgradeOption.item_id == 103 && (bookingInfo.roomInfo.room_price * ((bookingInfo.guestInfo.checkOutDate - bookingInfo.guestInfo.checkInDate)/86400000 )) > 199) && !bookingInfo.ChampagneStrawberries.room_price">
                          <td><img src="{{ upgradeOption.image_url}}" alt="" /></td>
                            <td colspan="2">Add {{ upgradeOption.short_desc}} for {{ upgradeOption.price}} </td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm pull-right" ng-click='add(upgradeOption)'>Add</button>
                            </td>
                        </tr>
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning pull-right" ng-click='finalConfirm(bookingInfo)' data-dismiss="modal" data-toggle="modal" data-target="#finalConfirmModal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  End of Booking confirmation Modal -->

    <!--  Final confirmation Modal -->
    <div ng-controller="roomController" class="modal fade" id="finalConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="printModalContent">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <img class="col-sm-4" src="{{bookingInfo.roomInfo.image_url}}" alt="" />
                    <h4>Thank you for choosing our hotel </h4>
                    <div class="col-sm-3">
                        <p>Guest Name: </p>
                        <p>Room Type: </p>
                        <p>Check In: </p>
                        <p>Check Out: </p>
                        <p>Total Price: </p>
                    </div>
                    <div class="col-sm-5">
                        <!-- Display booking information guest name, room type, price-->
                        <p>{{ bookingInfo.guestInfo.first_name }} {{ bookingInfo.guestInfo.last_name}}</p>
                        <p>{{ bookingInfo.roomInfo.short_desc }}</p>
                        <p>{{ bookingInfo.guestInfo.checkInDate | date }}</p>
                        <p>{{ bookingInfo.guestInfo.checkOutDate| date }}</p>
                        <p ng-hide="fromType">{{ (bookingInfo.roomInfo.room_price * ((bookingInfo.guestInfo.checkOutDate - bookingInfo.guestInfo.checkInDate)/86400000))+ bookingInfo.ChampagneStrawberries.room_price }} (USD) </p>
                        <p ng-show="fromType">{{ fromType * (bookingInfo.roomInfo.room_price * ( (bookingInfo.guestInfo.checkOutDate - bookingInfo.guestInfo.checkInDate)/86400000 ) + bookingInfo.ChampagneStrawberries.room_price ) | number: 2}} ({{ currency }}) </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Finish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  End of final confirmation Modal -->
    <div class="container">
    </div>
</div>
