<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../stylesheet/velocity.css" media="screen" title="no title" charset="utf-8">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- <script src="../assets/velocityJS.js"></script> -->
<style media="screen">
  .text__bit__inner, .velocity span {
    background-color: rgba(0, 0, 0, .2)
  }
</style>
<body  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div>

<div id="js-car1" class="car car--1 c-green-g velocityDiv"></div>
    <div id="js-car2" class="car car--2 c-green-g velocityDiv"></div>
    <div id="js-fast" class="c-green-c-g text text--fast velocityDiv">
      <div class="text__bit text__bit--1 velocityDiv">
        <div id="js-bit-inner" class="text__bit__inner  velocityDiv"><span id="js-span">E</span></div>
      </div>
      <div class="text__bit text__bit--2 velocityDiv">
        <div id="js-bit-inner" class="text__bit__inner velocityDiv"><span id="js-span">D</span></div>
      </div>
      <div class="text__bit text__bit--3 velocityDiv">
        <div id="js-bit-inner" class="text__bit__inner velocityDiv"><span id="js-span">I</span></div>
      </div>
      <div class="text__bit text__bit--4 velocityDiv">
        <div id="js-bit-inner" class="text__bit__inner velocityDiv"><span id="js-span">S</span></div>
      </div>
      <div class="text__bit text__bit--5 velocityDiv">
        <div id="js-bit-inner" class="text__bit__inner velocityDiv"><span id="js-span">O</span></div>
      </div>
      <div class="text__bit text__bit--6 velocityDiv">
        <div id="js-bit-inner" class="text__bit__inner velocityDiv"><span id="js-span">N</span></div>
      </div>
      <div class="text__bit text__bit--7 velocityDiv">
        <div id="js-bit-inner" class="text__bit__inner velocityDiv"><span id="js-span">W</span></div>
      </div>
      <div class="text__bit text__bit--8 velocityDiv">
        <div id="js-bit-inner" class="text__bit__inner velocityDiv"><span id="js-span">A</span></div>
      </div>
      <div class="text__bit text__bit--9 velocityDiv">
        <div id="js-bit-inner" class="text__bit__inner velocityDiv"><span id="js-span">N</span></div>
      </div>
      <div class="text__bit text__bit--10 velocityDiv">
        <div id="js-bit-inner" class="text__bit__inner velocityDiv"><span id="js-span">G</span></div>
      </div>
    </div>

    <div id="js-arrow1" class="arrow velocityDiv"></div>
    <div id="js-arrow2" class="arrow velocityDiv"></div>
    <div id="js-arrow3" class="arrow velocityDiv"></div>

    <div id="js-arrow-wrap" class="arrow arrow--wrap velocityDiv">
      <div id="js-arrow4" class="arrow arrow--center velocityDiv"></div>
    </div>

    <div id="js-robust-screen2" class="screen screen--robust velocityDiv">
      <div id="js-robust-screen" class="screen screen--robust velocityDiv">
        <div id="js-robust" class="text text--robust c-green-c-g velocityDiv" style="font-size:24px; margin-top: 35px ;color:#ff1493;background-color: rgba(0, 0, 0, .3);">Full Stack Developer
          <div id="js-robust-shade1" class="text--robust__shade text--robust__shade--1 velocityDiv"></div>
          <div id="js-robust-shade2" class="text--robust__shade text--robust__shade--2 velocityDiv"></div>
        </div>
      </div>
    </div>

    <div id="js-thunder-bg" class="thunder-bg velocityDiv"></div>
    <div id="js-easy-screen" class="screen screen--easy velocityDiv">
      <div id="js-easy" class="text easy velocityDiv">
        <div id="js-easy-wrapper" class="easy__wrapper velocityDiv">

          <div id="js-easy-text" class="easy__text velocityDiv" style="font-size:23px">
            Mobile Responsive
          </div>
        </div>
      </div>
    </div>

    <div id="js-screen1" class="screen velocityDiv">
      <div id="js-line" class="line velocityDiv"></div>
    </div>

    <div id="js-screen2" class="screen velocityDiv"></div>
    <div id="js-velocity" class="velocity velocityDiv"><span>F</span><span>u</span><span>l</span><span>l</span> <span> S</span><span>t</span><span>a</span><span>c</span><span>k</span>
      <span>D</span><span>e</span><span>v</span><span>e</span><span>l</span><span>o</span><span>p</span><span>e</span><span>r</span>
    </div>
    <div id="js-logos-screen" class="screen screen--logos velocityDiv"><a href="#/projects"  id="js-github" class="github">
        <div class="github__text">Check My Projects</div></a>
    </div>
  </div>
</body>
